* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

}
.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  box-shadow: 0 10px 15px -3px rgb(197 196 196 / 5%), 0 4px 6px -2px rgb(197 196 196 / 5%);
  z-index: 9999;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
element.style {
font-size: 30px;
    cursor: pointer;
    margin-right: 25px;
}


